.card {
    height: 72pt;
    margin: 8px 24px 0px 24px;

    background: var(--color-primary);
    border-radius: 4pt;

    box-shadow: var(--color-shadow);

    display: flex;
    justify-content: flex-start;
    align-items: center; 

    &__wrapper {
        margin: 16pt;

        display: grid;
        grid-template-columns: 70pt 1fr;
        grid-template-areas:
            'image name name' 
        ;
        align-items: center;
    }

    &__image {
        grid-area: image;

        width: 48pt;
        height: 48pt;
    }

    &__title {
        grid-area: name;
        font-size: 14pt;
        color: var(--color-text-dark)   
    }
}