.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &__number {
        width: 32px;
        height: 32px;
        margin: 22px 8px 0px 0px;

        font-weight: 400;
        font-size: 14px;

        background: var(--color-box-light);
        border: 1px solid var(--color-secondary);
        border-radius: 4px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        &--active {
            background: var(--color-button-active);
            color: var(--color-primary);
        }
    }
}