.list {
	font-weight: 700;
	color: var(--color-text-dark);
	
	a { 
		text-decoration: none;
	}

	&__description-title {
		font-size: 24px;
		text-align: center;
	}
  
  &__items {
    margin-bottom: 15vh;
  }
  
	&__item {
		display: flex;
		justify-content: center;
	}

	&__pagination {
		width: 100vw;
		height: 90px;
		
		bottom: 0;
		top: 90vh;
		position: fixed;

		background: var(--color-primary);
		
  }
  
  @media (min-width: 1140px) {
    
    &__description {
      display: flex;
      margin-left: 5px;
    }

    &__description-title {
      margin-left: 113px;
      text-align: justify;
	  }
  }
}
