:root {

    --color-primary: #FFFFFF;
    --color-secondary: #E5E5E5;
    --color-text-dark: #555555;
    --color-text-light: #8E8E8E;
    --color-button-pagination: #167ABC;
    --color-button-back: #5DAFFF;
    --color-user-box: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
}